@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 400;
}

input::-ms-clear {
  display: none;
}

input::placeholder {
  color: #7C503D;
  text-align: center;
  font-weight: bold;
}

label {
  font-size: calc(16px + 2 * (100vw / 1300));
  font-weight: 700;
  color: #7C503D;
}

button {
  cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000000;
  font-size: calc(16px + 2 * (100vw / 1300));
  transition: all, .2s;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
  color: #3C5CCF;
}

ul{
  list-style: none;
}

li {
  list-style-type: circle;
  font-size: calc(16px + 2 * (100vw / 1300));
  line-height: normal;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Inter";
  height: 100%;
  background: #D39073;
  color: black;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

main {
    flex: 1 1 auto;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
}

.container_two {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.main_blocks {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 70px;
}

.title_section {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 800;
  color: #7C503D;
}

.img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* шрифты/размеры */
p {
  font-size: calc(16px + 2 * (100vw / 1300));
  line-height: 1.2;
  color: white;
}

.p_20 {
  font-size: calc(16px + 4 * (100vw / 1300));
}

.p_14 {
  font-size: 14px;
}

.p_16 {
  font-size: calc(14px + 2 * (100vw / 1300));
}

.text_small {
  font-size: calc(13px + 2 * (100vw / 1300));
}

.line_height_min {
  line-height: 1.1;
}

.light {
  font-weight: 300;
}

/* Заголовки */
h1 {
  font-size: calc(60px + 4 * (100vw / 1300));
  font-weight: 200;
}

h2 {
  font-size: calc(35px + 3 * (100vw / 1300));
}

h3 {
  font-size: calc(25px + 3 * (100vw / 1300));
}

h4 {
  font-size: calc(20px + 3 * (100vw / 1300));
  line-height: 1.2;
  font-style: normal;
}

h5 {
  font-size: calc(20px + 2 * (100vw / 1300));
  line-height: 1.2;
  font-style: normal;
  font-weight: bold;
  color: #7C503D;
}

.btn_form {
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  background: #D39073;   
}

.btn_submit{
  background: #E9A78B;
  font-weight: bold;
  color: #7C503D;
}

.brown {
  color: #7C503D;
}

.message_info a{
  color: #F8C6B0;
}